//<style lang="windi">
html,
body {
  @apply bg-primary-500 text-secondary-500;
}
.aspect-photo {
  aspect-ratio: 4 / 3;
}

.my-masonry-grid {
  @apply flex w-auto lg:-ml-16px my-8;
}
.my-masonry-grid_column {
  @apply lg:pl-16px bg-clip-padding;
}

.my-masonry-grid_column:first-child {
  @apply lg:!w-9/10;
}

.my-masonry-grid_column > div {
  @apply mb-4;
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

//</style>
